<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>分词工具</title>
<script type="text/javascript"
	src="#springUrl('')/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="#springUrl('')/js/bootstrap.min.js"></script>
<script type="text/javascript" src="#springUrl('')/word/segment.js"></script>
<link href="#springUrl('')/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div id="container" class='container-fluid'>
		<form action="segment.do" class="panel" method="post">
			<input class="form-control" placeholder="请输入待分词的文本" name="sentence"
				type="text" value="$!{sentence}">
		</form>
		<div id="segment" class="panel">
			<h3>系统的分词结果</h3>
			<ul>
				#foreach($wordEntry in $wordEntries)
				<li class="btn btn-primary" style="margin: 2px;"
					value="$!{wordEntry.word}"><span>$!{wordEntry.word}</span> <span
					class="badge"
					title='概率:$numberTool.format("#0.00", $!{wordEntry.firstClassProbability})'>$!{wordEntry.firstClass}</span>
				</li> #end
			</ul>
		</div>
		<div id="classify" class="panel"></div>
	</div>
</body>
</html>